{% extends 'base.html' %} {% block content %}
<h1>About</h1>
<h3>Rory... I heard he's a pretty cool guy</h3>
<h3>{{title | capfirst | title}}</h3>
<div>
  {{my_number}}, {{my_list}}
</div>

{{my_html|safe}}

<ul>
  {% for i in my_list %} {% if i == 123 %}
  <li>{{forloop.counter}} - {{i|add:22}}</li>
  {% else %}
  <li>{{forloop.counter}} - {{i}}</li>
  {% endif %} {% endfor %}
</ul>

<ul>
  {% for i in my_list %}
  <li>{{forloop.counter}} - {{i|add:22}}</li>
  {% endfor %}
</ul>

{% endblock content %}
